.m-4 {
    margin-left: 40px;
}

.title {
    text-align:  center;
}


.list_todo {
    display: flex;
    flex-direction: row;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    margin-left: 10px;
    margin-right: 10px;
}